<!DOCTYPE html>
<html lang="ru">
<head>
<title id="page-title">Менеджер заметок</title>
    <link rel="stylesheet" type="text/css" href="/static/ext-3.4.1/resources/css/ext-all.css" />

    <script type="text/javascript" src="/static/ext-3.4.1/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="/static/ext-3.4.1/ext-all-debug.js"></script>

  <script type="text/javascript" src="/static/js/Filter.js"></script>
  <script type="text/javascript" src="/static/js/BooleanFilter.js"></script>
  <script type="text/javascript" src="/static/js/DateFilter.js"></script>
  <script type="text/javascript" src="/static/js/ListFilter.js"></script>
  <script type="text/javascript" src="/static/js/NumericFilter.js"></script>
  <script type="text/javascript" src="/static/js/StringFilter.js"></script>
  <script type="text/javascript" src="/static/js/ListMenu.js"></script>
  <script type="text/javascript" src="/static/js/RangeMenu.js"></script>
  <script type="text/javascript" src="/static/js/GridFilters.js"></script>

{% if request.user.is_authenticated %}
    <script type="text/javascript">
    
    Ext.Ajax.on('beforerequest', function (conn, options) {
        if (!(/^http:.*/.test(options.url) || /^https:.*/.test(options.url))) {
            if (typeof (options.headers) == "undefined") {
                options.headers = {
                    'X-CSRFToken': Ext.util.Cookies.get('csrftoken')
                };
            } else {
                options.headers.extend({
                    'X-CSRFToken': Ext.util.Cookies.get('csrftoken')
                });
            }
        }
    }, this);
    
    Ext.ns('Manager');
    

    var categoryList = new Ext.data.JsonStore({
        proxy: new Ext.data.HttpProxy({
            method: 'GET'
            ,url: '/categories/'
        })
        ,root: 'root' 
        ,totalProperty: 'count'
        ,fields:[
             {
                name: 'id',
                mapping: 'id'
            }, 
            {
                name: 'category',
                mapping: 'caption' // Category.caption
            }
        ]
        ,autoLoad: true
    });
    
    


    var MyStore = new Ext.data.JsonStore({
        proxy: new Ext.data.HttpProxy({
            method: 'GET'
            ,url: '/notes/'
        })
        ,root: 'root'
        ,totalProperty: 'count'
        ,fields:[
            {
                name: 'id',
                mapping: 'id'
            },
            {
                name: 'caption',
                mapping: 'caption'
            },{
                name: 'datetime',
                type: 'date',
                mapping: 'datetime'
            },{
                name: 'category',
                mapping: 'category__caption'
            },{
                name: 'category__id',
                mapping: 'category__id'
            },{
                name: 'text',
                mapping: 'text'
            },{
                name: 'favorite',
                type: 'boolean',
                mapping: 'favorite'
            },{
                name: 'published',
                type: 'boolean',
                mapping: 'published'
            },{
                name: 'uuid',
                mapping: 'uuid'
            }
        ]
        ,autoLoad: {
            params:{start:0, limit:5}
        }
    });




    var myFormPanel = new Ext.FormPanel({
        id: 'formpanel',
        frame: true,
        url: '/note/',
        method: 'POST',
        labelAlign: 'left',
        onSuccess:function(form, action) {
            Note_win.hide();
        },
        showError:function(msg, title) {
            title = title || 'Error';
            Ext.Msg.show({
                 title:title
                ,msg:msg
                ,modal:true
                ,icon:Ext.Msg.ERROR
                ,buttons:Ext.Msg.OK
            });
        }, // eo function showError
        onFailure:function(form, action) {
        	myFormPanel.showError(action.response.responseText);
        },
        
        items: [{
            xtype: 'textfield',
            width: 200,
            fieldLabel:'Заголовок',
            name: 'caption'
        },{
            xtype: 'combo',
            width: 200,
            fieldLabel: 'Категория',
            mode:'local',
            hiddenName : 'category',
            store: categoryList,
            displayField: 'category',
            triggerAction: 'all',
            editable: false,
            name: 'category'
        },{
            xtype: 'htmleditor',
            enableColors: false,
            enableAlignments: false,
            width: 370,
            height: 200,
            fieldLabel: 'Текст заметки',
            name: 'text'
        },{
            xtype: 'checkbox',
            fieldLabel: 'В избранном',
            style: 'cursor: pointer;',
            name: 'favorite'
        },{
            xtype: 'checkbox',
            fieldLabel: 'Опубликована',
            style: 'cursor: pointer;',
            name: 'published'
        },{
            xtype: 'textfield',
            width: 370,
            fieldLabel:'Ссылка на заметку',
            name: 'uuid',
            hidden: true,
            readOnly:true
        },{
            xtype: 'textfield',
            width: 200,
            name: 'id',
            hidden: true
        }
        ],
        buttons: [
            {
                text: "Сохранить"
                ,formBind:true
                ,handler: function(){
                var thisForm = myFormPanel.getForm();
                thisForm.submit({
                    success:thisForm.onSuccess
                     ,failure:thisForm.onFailure

                     ,waitMsg:'Saving...'
                    ,params:{cmd:'save'}
                });


                setTimeout("reset()",100);
                setTimeout("reloadGrid()", 250);

            }
            },{
                text: 'Отмена'
                ,handler: function(){

                    var thisForm = myFormPanel.getForm();
                    reset();

                    Note_win.hide();
                }
            }
        ]
    });

    function reset(){
        var thisForm = myFormPanel.getForm();
        thisForm.reset();
    }

    function reloadGrid() {
        var gridview = Ext.getCmp('Managergrid').getView();

        var gridstore = gridview.grid.store;

        gridstore.reload({params:{start:0, limit:5}});
        setTimeout("updateSelections()", 360);
    }
    function updateSelections(){
        var gridView = Ext.getCmp('Managergrid').getView();
        var selModel = gridView.grid.getSelectionModel();
        var records = selModel.getSelections();
        var record = records[0].json;
        var ManagerPanel = Ext.getCmp('Managerpanel1');
        ManagerPanel.update(record);
    }

    var Note_win = new Ext.Window({
        title: "Создание новой заметки",
        border: false,
        width: 500,
        height: 450,
        layout:'fit',
        closeAction: 'hide',
        closable: false,
        items: [
            myFormPanel
        ]
    });


    Manager.ShowPanel = Ext.extend(Ext.Panel, {

        tpl:new Ext.XTemplate(
                '<table style="margin:20px;font-size:13px;font-family:sans-serif">'
                        +'<tr><td><i>Заголовок:</i></td><td>{caption}</td></tr>'
                        +'<tr><td><i>Дата:</i></td><td>{datetime:date("d.m.Y H:i:s")}</td></tr>'
                        +'<tr><td><i>Текст:</i></td><td>{text}</td></tr>'
                        +'<tr><td><i>Категория:</i></td><td>{category__caption}</td></tr>'
                        +'<tpl if="uuid"><tr><td><i>Ссылка:</i></td><td><a href="/note/{uuid}" target="_blank">/note/{uuid}</a></td></tr></tpl>'
                        +'</table>'
        )
        ,updateBound:function(record) {
            var data = record && record.data ? record.data : {};
            this.tpl.overwrite(this.body, data);
        }
        ,initComponent:function() {

            var config = {
                afterEdit:this.updateBound
                ,afterReject:this.updateBound
                ,onBind:function(record) {
                    this.boundRecord = record;
                    this.updateBound(record);
                }
                ,onUnbind:function(record) {
                    this.boundRecord = null;
                    this.updateBound();
                }
            }; // eo config object

            // apply config
            Ext.apply(this, Ext.apply(this.initialConfig, config));

            // call parent
            Manager.ShowPanel.superclass.initComponent.apply(this, arguments);

        } // eo function initComponent
    }); // eo extend
    Ext.reg('Managershowpanel', Manager.ShowPanel);

    Ext.onReady(function() {
        Ext.QuickTips.init();

        var MyGrid;
        Manager.Grid = Ext.extend(Ext.grid.GridPanel, {
            initComponent:function() {
                MyGrid = this;
                var filters = new Ext.ux.grid.GridFilters({
                    encode:true,
                    filters: [{
                        type:'string',
                        dataIndex: 'caption'
                    },{
                        type:'date',
                        dataIndex: 'datetime'
                    },{
                        type:'list',
                        dataIndex: 'category',
                        labelField: 'category',
                        store: categoryList
                    },{
                        type:'boolean',
                        dataIndex: 'favorite'
                    }]
                });
                var config = {
                    store: MyStore
                    , plugins: [
                        filters
                    ]
                    ,columns:[{
                        header:'Заголовок'
                        ,dataIndex:'caption'
                        ,sortable:false
                    },{
                        header:'Дата'
                        ,dataIndex:'datetime'
                        ,xtype: 'datecolumn'
                        ,format: 'd.m.Y H:i:s'
                        ,sortable:true
                    },{
                        header:'Категория'
                        ,dataIndex:'category'
                        ,sortable:true
                        ,filterable: true
                    },{
                        dataIndex:'favorite'
                        ,sortable:true
                        ,width:30
                        ,align:'center'
                        ,editor:new Ext.form.TextField()
                        ,renderer: function(value, metaData, record, row, col, store, gridView){
                            var favorite = record.get('favorite');
                            if(favorite)
                            {
                                return '<font size="3" color="#F7CC31">★</font>';
                            }else{
                                return '<font size="3" color="#F7CC31">☆</font>';
                            }
                        }
                    }]
                    ,tbar:[{
                        text:'Добавить'
                        ,handler:function() {

                            Note_win.show();
                            reset();
                        }
                    },{
                        text:'Редактировать',
                        id: 'editBtn',
                        disabled: true
                        ,handler:function() {
                            var gridView = Ext.getCmp('Managergrid').getView();
                            var selModel = gridView.grid.getSelectionModel();
                            var record = selModel.getSelections();

                            var thisForm = myFormPanel.getForm();

                            thisForm.setValues(record[0].data);
                            Note_win.title = 'Редактирование заметки';
                            Note_win.show();
                        }
                    },{
                        text:'Удалить',
                        id: 'deleteBtn',
                        disabled: true
                        ,handler:function() {
                            var confirmMessage = Ext.MessageBox;
                            confirmMessage.buttonText={
                                cancel: 'Отмена',
                                no: 'Нет',
                                ok: 'Ok',
                                yes: 'Да'
                            };
                            confirmMessage.confirm('Подтверждение', 'Вы действительно хотите удалить эту заметку?', function(btn){

                                if (btn=='yes') {

                                    var gridView = Ext.getCmp('Managergrid').getView();
                                    var selModel = gridView.grid.getSelectionModel();

                                    var record = selModel.getSelections();


                                    Ext.Ajax.request({
                                        url: '/note/',
                                        method: 'POST',
                                        params: {cmd: 'delete',json:Ext.util.JSON.encode(record[0].data['id'])},
                                        success: function() {
                                            console.log('success');
                                        },
                                        failure: function() {
                                            console.log('woops');
                                        }

                                    });
                                    setTimeout("reloadGrid()", 150);

                                } else {
                                    console.log('Cancel');
                                }
                            });


                        }
                    }]
                    ,buttons: [{
                        text: "Выйти",
                        handler: function(){
                            document.location.href = "/logout/";
                        }
                    }]
                    ,bbar: new Ext.PagingToolbar({
                        store: MyStore,       // grid and PagingToolbar using same store
                        displayInfo: true,
                        pageSize: 5,
                        beforePageText: 'Страница',
                        afterPageText: 'из {0}',
                        displayMsg: 'Заметки {0} - {1} из {2}',
                        emptyMsg: "Нет заметок для отображения"

                    })
                }; // eo config object
                // apply config
                Ext.apply(this, Ext.apply(this.initialConfig, config));

                // call parent
                Manager.Grid.superclass.initComponent.apply(this, arguments);
            } // eo function initComponent
        }); // eo extend
        Ext.reg('Managergrid', Manager.Grid );



        var win = new Ext.Viewport({
            id:'win'
            ,border:false
            ,layout:'border'
            ,items:[{
                xtype:'Managergrid'
                ,id:'Managergrid'
                ,region:'west'
                ,title:'Заметки'
                ,width:'60%'
                ,split:true

                ,listeners:{
                    render:function() {
                        this.getSelectionModel().on({
                            // selectionchange is fired too often for us, so buffer it for 10ms
                            selectionchange:{buffer:10, fn:function(sm, selection) {



                                // get record from either Cell of Row SelectionModel
                                var record = selection && selection.record ? selection.record : null;
                                var undef = false;
                                if(!record && sm && sm.getSelected) {
                                    record = sm.getSelected();
                                    if(record!=undefined){
                                        Ext.getCmp('deleteBtn').enable();
                                        Ext.getCmp('editBtn').enable();
                                    }
                                    else {
                                        Ext.getCmp('deleteBtn').disable();
                                        Ext.getCmp('editBtn').disable();
                                        undef = true;
                                    }

                                }
                                    var ManagerPanel = Ext.getCmp('Managerpanel1');
                                if(!undef) {
                                    ManagerPanel.update(record.json);
                                }
                                else {
                                    ManagerPanel.body.dom.innerHTML = '';
                                }
                            }}
                            ,rowdeselect: function(){
                                Ext.getCmp('deleteBtn').disable();
                            }

                        })
                    }
                }


            },{
                layout:'border'
                ,region:'center'
                ,border:false
                ,items:[{
                    xtype:'Managershowpanel'
                    ,id:'Managerpanel1'
                    ,region:'center'
                    ,title:'Просмотр заметки'
                    ,split:true
                }]
            }]

        });

        win.show();

    }); // eo function onReady
    </script>
{% endif %}
</head>
<body>
<div class="content">
{% block content %}
{% endblock %}
</div>

<div id="myManager"></div>
</body>
</html>